[Unit]
Description=Okumuuseumi pildimaag
After=etcd.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
Restart=always
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill pildimaag
ExecStartPre=-/usr/bin/docker rm pildimaag
ExecStartPre=/usr/bin/docker pull mitselek/pildimaag
ExecStart=/usr/bin/docker run \
          --name="pildimaag" \
          --env="NEW_RELIC_APP_NAME=pildimaag" \
          --env="NEW_RELIC_LICENSE_KEY=" \
          --env="NEW_RELIC_LOG=stdout" \
          --env="NEW_RELIC_LOG_LEVEL=error" \
          --env="NEW_RELIC_NO_CONFIG_FILE=true" \
          --env="PM_ENTITY=" \
          --env="PM_KEY=" \
          --env="PM_NIGHT_MINUTES=420" \
          mitselek/pildimaag
ExecStop=/usr/bin/docker stop pildimaag

[X-Fleet]
Conflicts=pildimaag*
MachineMetadata=app=true
